<header class="header">
  <div class="container">
    <nav class="menu menu-fixed">
      <a class="logo" href="#body">
        <img class="logo__img" src="images/logo.svg" width="#" height="#" alt="логотип SimpleFood">
      </a>

      <ul class="menu__list">
        <li class="menu__item">
          <a class="menu__link menu__link--active" href="#">
            Главная
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">
            Блюда
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">
            Контакты
          </a>
        </li>
      </ul>

      <button class="burger" type="button">
        <span class="burger__line"></span>
        <span class="sr-only">mobile menu</span>
      </button>
    </nav>
  </div>
</header>
